body {
  background-color: midnightblue;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". header header header header header ."
    ". . sub-header sub-header sub-header . ."
    ". . letter-box letter-box letter-box . ."
    ". . message message message . ."
    ". . wins guess-label guesses-remaining . ."
    ". . losses guesses guesses-remaining . ."
    ". . keyboard keyboard keyboard . ."
    ". . keyboard keyboard keyboard . .";
  background-color: #101c3d;
  color: whitesmoke;
  border: 4px solid gray;
}

.h2 {
  text-align: center;
  line-height: 2rem;
  font-size: 1.75rem;
  padding: 1vh 0;
}

.h1 {
  padding: 2vh 0;
  font-size: 2.5rem;
  border-bottom: 2px solid gray;
  text-align: center;
}

.h3 {
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 1vh 0;
}

.border-l {
  background-color: midnightblue;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

header {
  grid-area: header;
}
.sub-header {
  grid-area: sub-header;
}

.letter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: letter-box;
  margin: 0 auto;
  width: 30vw;
  height: 25vh;
  font-size: 2.5rem;
  padding: 1vw 0.2rem 1vh 0.2rem;
}

.message {
  grid-area: message;
  border-bottom: 2px solid gray;
}

.wins {
  grid-area: wins;
  background-color: midnightblue;
  border-right: 1px solid gray;
}

.losses {
  grid-area: losses;
  background-color: midnightblue;
  border-right: 1px solid gray;
}

.guess-label {
  grid-area: guess-label;
  white-space: nowrap;
}

.guesses {
  grid-area: guesses;
  white-space: nowrap;
}

.guesses-remaining {
  grid-area: guesses-remaining;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
  border-left: 1px solid gray;
  flex-wrap: wrap;
}

.flex-keyboard {
  grid-area: keyboard;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid gray;
}

.key {
  display: flex;
  min-width: 3rem;
  min-height: 2rem;
  font-size: 1.5rem;
  padding: 0.4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: gray;
  color: midnightblue;
  margin: 0.25rem;
  box-sizing: border-box;
}
